main{
    font-size: 25px;
    width: 875px;
    margin: 100px auto;
}
h1{
    text-align: center;
    margin: 100px;
}
#line{
    position: relative;
    top: 25px;
}
#inputContainer{
    font-size: 30px;
    position: relative;
    top: 25px;
}
#firstNum{
    padding: 2px 4px;
    border-radius: 3px;
}
#secondNum{
    padding: 2px 4px;
    border-radius: 3px;
}
#firstInput{
    font-size: 30px;
}
#secondInput{
    font-size: 30px;
    position: relative;
    z-index: 9999;
}
#BInput{
    position: relative;
}
#answer{
    position: relative;
    top: -6px;
    font-size: 30px;
}
